BasedOnStyle: Google
Standard : c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignEscapedNewlines: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Stroustrup
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseLabels: true
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
