BasedOnStyle: Google
Standard : c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Stroustrup
AccessModifierOffset: -2
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
BinPackArguments : true
BinPackParameters : true
SortIncludes: true
